
        

            <h1> Contact Us! </h1>
        <form>
            <fieldset>
                
            <label>First Name</label> <br> <input type="text" placeholder="Enter your first name"><br><br>
            <label>Last Name</label> <br> <input type="text" placeholder="Enter your last name"><br><br>
            <label>Email</label> <br> <input type="text" placeholder="Enter your email"><br><br>
            <label>Phone Number</label> <br> <input type="text" placeholder="Enter your phone number"><br><br>
            <label>Agency/Organization Name</label> <br> <input type="text" placeholder="Enter your agency/organization name"><br><br>
            <label>Country</label> <br> <input type="text" placeholder="Your country name here"><br><br>
            <label>How can we help you?</label> <br> <textarea rows="10" cols="80"></textarea><br><br>
<input type="submit" value="Send">
                
            </fieldset>
        </form>
        
