<div>
<div>
    <form>
    <h3>Filter Results</h3>
    <label>Name: </label><br><input type="text" placeholder="Enter name here"><br><br>
    <label>Country: </label><br><input type="text" placeholder="Enter country name here"><br><br>
    <label>City: </label><br><input type="text" placeholder="Enter city name here"><br><br>
    </form>
</div>

<!--Agency 1-->
<div class="ABcont">
    <div class="ABimg">
        <img src="" alt="Organization Logo">
    </div>
    <div class="ABconmess">
        <a href="">Connect</a>
        <a href="">Message</a>
    </div>
    <div>
        <label>City:</label><br>
        <Label>Country:</Label><br>
        <label>Type of Organization:</label><br>
        <label>Description</label>
    </div>
</div>
<br>
<!--Agency 2-->

<div class="ABcont">
    <div class="ABimg">
        <img src="" alt="Organization Logo">
    </div>
    <div class="ABconmess">
        <a href="">Connect</a>
        <a href="">Message</a>
    </div>
    <div>
        <label>City:</label><br>
        <Label>Country:</Label><br>
        <label>Type of Organization:</label><br>
        <label>Description</label>
    </div>
</div>
<br>
<!--Agency 3-->

<div class="ABcont">
    <div class="ABimg">
        <img src="" alt="Organization Logo">
    </div>
    <div class="ABconmess">
        <a href="">Connect</a>
        <a href="">Message</a>
    </div>
    <div>
        <label>City:</label><br>
        <Label>Country:</Label><br>
        <label>Type of Organization:</label><br>
        <label>Description</label>
    </div>
</div>
<br>


<br>
</div>
<button>Prev</button><a href="">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><button>Next</button>
