

            <h1> Organization Sign Up </h1>
        <form   action="/organization"  method="POST" enctype="multipart/form-data">
            <fieldset>
            <h2>Description: </h2>
                <p> Fill in your information here</p>
            </fieldset>
            <fieldset>
            <h2>Step 1: Basic Information</h2>
                    <label>Are you are?</label> <br>
                    <select name="orgtype">
                        <option>Agency</option>
                        <option>Photographer</option>
                        <option>Brand</option>
                    </select> 
                    
                    <br><br>
                
                    <label>Organization Name</label> <br> <input name="name" type="text" placeholder="Enter your organization name"><br><br>
                    <label>Web Site</label> <br> <input name="site" type="text" placeholder="Enter your Website URL here"><br><br>
                    <label>Organization Email</label> <br> <input name="email" type="text" placeholder="Enter your Email here"><br><br>
                    <label>Password</label> <br> <input name="password" type="password" placeholder="Enter your Password here"><br><br>
                    <label for="logo">Upload Your Organization Logo</label> <br> <input type="file" name="logo" accept="image/*"> <br><br>

            <fieldset>
            <h2>Step 2: Contact Information</h2>
                    <fieldset>
                    <label>First Name</label> <br> <input name="firstname" type="text" placeholder="Enter you first name"><br><br>
                    <label>Last Name</label> <br> <input name="lastname" type="text" placeholder="Enter your last name"><br><br>
                    <label>Street Address</label> <br> <input name="address" type="text" placeholder="Enter your street address"><br><br>
                    <label>City</label> <br> <input name="city" type="text" placeholder="Enter your city"><br><br>
                    <label>State</label> <br> <input name="state" type="text" placeholder="Enter your State"><br><br>
                    <label>Country</label> <br> <input name="country" type="text" placeholder="Enter your country"><br><br>
                    <label>Zip Code</label> <br> <input name="zip" type="text" placeholder="Enter your Zip Code"><br><br>
                    <label>Phone Number (with country code)</label> <br> <input name="phone" type="text" placeholder="Enter your phone number"><br><br>
            </fieldset>
            <a name="contactinfo2"></a>
            <h2>Step 3: Talent Measurement Preferences</h2>
                    <fieldset>
                    <label>Height (cm)</label> <br> 
                    <select name="height">
                        <option> None </option>
                        <option>120 cm or less</option>
                        <option>125 cm + </option>
                        <option>130 cm + </option>
                        <option>135 cm + </option>
                        <option>140 cm + </option>
                        <option>145 cm + </option>
                        <option>150 cm + </option>
                        <option>155 cm + </option>
                        <option>160 cm + </option>
                        <option>165 cm + </option>
                        <option>170 cm + </option>
                        <option>175 cm + </option>
                        <option>180 cm + </option>
                        <option>185 cm + </option>
                        <option>190 cm + </option>
                        <option>195 cm + </option>
                        <option>200 cm + </option>
                        <option>205 cm + </option>
                        <option>All </option>
                    </select><br><br>
                    
                     <label>Waist (cm) </label> <br> 
                    <select name="waist">
                        <option> None </option>
                        <option>53 cm + </option>
                        <option>54 cm + </option>
                        <option>55 cm + </option>
                        <option>56 cm + </option>
                        <option>57 cm + </option>
                        <option>58 cm + </option>
                        <option>59 cm + </option>
                        <option>60 cm + </option>
                        <option>61 cm + </option>
                        <option>62 cm + </option>
                        <option>63 cm + </option>
                        <option>64 cm + </option>
                        <option>65 cm + </option>
                        <option>66 cm + </option>
                        <option>67 cm + </option>
                        <option>68 cm + </option>
                        <option>69 cm + </option>
                        <option>70 cm + </option>
                        <option>71 cm + </option>
                        <option>72 cm + </option>
                        <option>73 cm + </option>
                        <option>74 cm + </option>
                        <option>75 cm + </option>
                        <option>76 cm + </option>
                        <option>77 cm + </option>
                        <option>78 cm + </option>
                        <option>79 cm +</option>
                        <option>80 cm +</option>
                        <option>81 cm +</option>
                        <option>82 cm +</option>
                        <option>83 cm +</option>
                        <option>84 cm +</option>
                        <option>85 cm +</option>
                        <option>86 cm +</option>
                        <option>87 cm +</option>
                        <option>88 cm +</option>
                        <option>89 cm +</option>
                        <option>90 cm +</option>
                        <option>91 cm +</option>
                        <option>92 cm +</option>
                        <option>93 cm +</option>
                        <option>94 cm +</option>
                        <option>95 cm +</option>
                        <option>96 cm +</option>
                        <option>97 cm +</option>
                        <option>98 cm +</option>
                        <option>99 cm +</option>
                        <option>100 cm +</option>
                        <option>101 cm +</option>
                        <option>102 cm +</option>
                        <option>103 cm +</option>
                        <option>104 cm +</option>
                        <option>105 cm +</option>
                        <option>106 cm +</option>
                        <option>107 cm +</option>
                        <option>108 cm +</option>
                        <option>109 cm +</option>
                        <option>110 cm +</option>
                        <option>111 cm +</option>
                        <option>112 cm +</option>
                        <option>113 cm +</option>
                        <option>114 cm +</option>
                        <option>115 cm +</option>
                        <option>116 cm +</option>
                        <option>117 cm +</option>
                        <option>118 cm +</option>
                        <option>119 cm +</option>
                        <option>120 cm +</option>
                        <option>121 cm +</option>
                        <option>122 cm +</option>
                        <option>123 cm +</option>
                        <option>124 cm +</option>
                        <option>125 cm +</option>
                        <option>126 cm +</option>
                        <option>127 cm +</option>
                    </select> <br><br>
                
                    <label>Eye Color</label> <br> 
                        <input name="eye" type="checkbox"> None <br>
                        <input name="eye" type="checkbox"> Amber <br>
                        <input name="eye" type="checkbox"> Black <br>
                        <input name="eye" type="checkbox"> Blue <br>
                        <input name="eye" type="checkbox"> Blue-Green <br>
                        <input name="eye" type="checkbox"> Blue-Grey <br>
                        <input name="eye" type="checkbox"> Brown <br>
                        <input name="eye" type="checkbox"> Green <br>
                        <input name="eye" type="checkbox"> Hazel <br>
                   <br><br>
                
                    <label>Hair Color</label> <br> 
                        <input name="hair" type="checkbox"> None <br> 
                        <input name="hair" type="checkbox"> Blonde <br>
                        <input name="hair" type="checkbox"> Black <br>
                        <input name="hair" type="checkbox"> Blonde <br>
                        <input name="hair" type="checkbox"> Brown <br>
                        <input name="hair" type="checkbox"> Dark blonde <br>
                        <input name="hair" type="checkbox"> Dark brown <br>
                        <input name="hair" type="checkbox"> Grey <br>
                        <input name="hair" type="checkbox"> Light blonde <br>
                        <input name="hair" type="checkbox"> Light browne <br>
                        <input name="hair" type="checkbox"> Platinum blonde <br>
                        <input name="hair" type="checkbox"> Red <br>
                        <input name="hair" type="checkbox"> Strawberry blonde <br>
                   <br><br>
                
                    <label>Bust</label> <br>
                    <select name="bust">
                        <option> None </option>
                        <option>53 cm + </option>
                        <option>54 cm + </option>
                        <option>55 cm + </option>
                        <option>56 cm + </option>
                        <option>57 cm + </option>
                        <option>58 cm + </option>
                        <option>59 cm + </option>
                        <option>60 cm + </option>
                        <option>61 cm + </option>
                        <option>62 cm + </option>
                        <option>63 cm + </option>
                        <option>64 cm + </option>
                        <option>65 cm + </option>
                        <option>66 cm + </option>
                        <option>67 cm + </option>
                        <option>68 cm + </option>
                        <option>69 cm + </option>
                        <option>70 cm + </option>
                        <option>71 cm + </option>
                        <option>72 cm + </option>
                        <option>73 cm + </option>
                        <option>74 cm + </option>
                        <option>75 cm + </option>
                        <option>76 cm + </option>
                        <option>77 cm + </option>
                        <option>78 cm + </option>
                        <option>79 cm +</option>
                        <option>80 cm +</option>
                        <option>81 cm +</option>
                        <option>82 cm +</option>
                        <option>83 cm +</option>
                        <option>84 cm +</option>
                        <option>85 cm +</option>
                        <option>86 cm +</option>
                        <option>87 cm +</option>
                        <option>88 cm +</option>
                        <option>89 cm +</option>
                        <option>90 cm +</option>
                        <option>91 cm +</option>
                        <option>92 cm +</option>
                        <option>93 cm +</option>
                        <option>94 cm +</option>
                        <option>95 cm +</option>
                        <option>96 cm +</option>
                        <option>97 cm +</option>
                        <option>98 cm +</option>
                        <option>99 cm +</option>
                        <option>100 cm +</option>
                        <option>101 cm +</option>
                        <option>102 cm +</option>
                        <option>103 cm +</option>
                        <option>104 cm +</option>
                        <option>105 cm +</option>
                        <option>106 cm +</option>
                        <option>107 cm +</option>
                        <option>108 cm +</option>
                        <option>109 cm +</option>
                        <option>110 cm +</option>
                        <option>111 cm +</option>
                        <option>112 cm +</option>
                        <option>113 cm +</option>
                        <option>114 cm +</option>
                        <option>115 cm +</option>
                        <option>116 cm +</option>
                        <option>117 cm +</option>
                        <option>118 cm +</option>
                        <option>119 cm +</option>
                        <option>120 cm +</option>
                        <option>121 cm +</option>
                        <option>122 cm +</option>
                        <option>123 cm +</option>
                        <option>124 cm +</option>
                        <option>125 cm +</option>
                        <option>126 cm +</option>
                        <option>127 cm +</option>
                    </select> <br><br>
                <button type="submit" value="Create Profile">Create Profile </button>
        </fieldset>           
    