<div class="TBcont">
    <h3>Filter Results</h3>
    <label>Name: </label><br><input type="text" placeholder="Enter name here"><br><br>
    <label>Height (in cm): </label><br><input type="number" placeholder="Enter height in centimeters"><br><br>
    <label>Weight (in kg): </label><br><input type="number" placeholder="Enter height in kilograms"><br><br>
    <label>Waist (in cm): </label><br><input type="number" placeholder="Enter Waist in centimeters"><br><br>
    <label>Bust (in cm): </label><br><input type="number" placeholder="Enter Bust in centimeters"><br><br>
    <label>Eye Color: </label>
        <select>
            <input type="checkbox"> None <br>
            <input type="checkbox"> Blonde <br>
            <input type="checkbox"> Black <br>
            <input type="checkbox"> Blonde <br>
            <input type="checkbox"> Brown <br>
            <input type="checkbox"> Dark blonde <br> 
            <input type="checkbox"> Dark brown <br>
            <input type="checkbox"> Grey <br>
            <input type="checkbox"> Light blonde <br> 
            <input type="checkbox"> Light browne <br> 
            <input type="checkbox"> Platinum blonde <br>
            <input type="checkbox"> Red <br>
            <input type="checkbox"> Strawberry blonde <br>
        </select><br><br>
    <label>Hair Color: </label>
         <select>
             <input type="checkbox"> None <br>
             <input type="checkbox"> Blonde <br>
             <input type="checkbox"> Black <br>
             <input type="checkbox"> Blonde <br>
             <input type="checkbox"> Brown <br>
             <input type="checkbox"> Dark blonde <br> 
             <input type="checkbox"> Dark brown <br>
             <input type="checkbox"> Grey <br>
             <input type="checkbox"> Light blonde <br> 
             <input type="checkbox"> Light browne <br>
             <input type="checkbox"> Platinum blonde <br>
             <input type="checkbox"> Red <br>
             <input type="checkbox"> Strawberry blonde <br>
        </select><br><br>
    <label>Race: </label>
         <select>
             <input type="checkbox"> None <br>
             <input type="checkbox"> White <br>
             <input type="checkbox"> Hispanic or Latino <br>
             <input type="checkbox"> Black or African American <br>
             <input type="checkbox"> Native American or American Indian <br>
             <input type="checkbox"> Asian / Pacific Islander <br>
        </select><br><br>
    <label>City: </label> <br> <input type="text" placeholder="Enter city name"><br><br>
    <label>Country: </label> <br> <input type="text" placeholder="Enter country name"><br><br>
    <label>Age Range: </label> <br>
        <select>
            <input type="checkbox"> 5-10 <br>
            <input type="checkbox"> 10-15 <br>
            <input type="checkbox"> 15-20 <br>
            <input type="checkbox"> 20-25 <br>
            <input type="checkbox"> 25-30 <br>
            <input type="checkbox"> 30-35 <br>
            <input type="checkbox"> 35-40 <br>
            <input type="checkbox"> 40-45 <br>
            <input type="checkbox"> 45-50 <br>
            <input type="checkbox"> 50-55 <br>
            <input type="checkbox"> 55-60 <br>
            <input type="checkbox"> 60-65 <br>
            <input type="checkbox"> 65-70 <br>
            <input type="checkbox"> 75-80 <br>
            <input type="checkbox"> 80-85 <br>
            <input type="checkbox"> 85-90 <br>
            <input type="checkbox"> 90-95 <br>
            <input type="checkbox"> 95-100 <br> 
            <input type="checkbox"> 100 + <br>
         </select> <br>
    <a href="">Search</a>
    
</div>

<br>
<br>

<!-- person 1 -->
<div class="TBpCont">
    <div class="TBimg">
        <img src="" alt="Headshot">
    </div>
    <div>
        <label>Country: </label> <br>
        <label>City: </label> <br>
        <label>Height (in cm): </label> <br>
        <label>Weight (in kg): </label> <br>
        <label>Waist (in cm): </label> <br>
        <label>Bust (in cm): </label> <br>
        <label>Eye Color: </label> <br>
        <label>Hair Color: </label> <br>
        <label>Race: </label> <br>
    <div class="TBcomess">
        <button>Comment</button>
        <button>Message</button>
    </div>        
    </div>
</div>

<br>

<!-- person 2 -->

<div class="TBpCont">
    <div class="TBimg">
        <img src="" alt="Headshot">
    </div>
    <div>
        <label>Country: </label> <br>
        <label>City: </label> <br>
        <label>Height (in cm): </label> <br>
        <label>Weight (in kg): </label> <br>
        <label>Waist (in cm): </label> <br>
        <label>Bust (in cm): </label> <br>
        <label>Eye Color: </label> <br>
        <label>Hair Color: </label> <br>
        <label>Race: </label> <br>
    <div class="TBcomess">  
        <button>Comment</button>
        <button>Message</button>
    </div>    
    </div>
</div>

<br>



<br>

<button>Prev</button><a href="">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><button>Next</button>