            
<form method="POST" action="/talent/photos/edit" enctype="multipart/form-data"> 
    <fieldset>
        <h2>Portfolio and Comp Card Picture Edit</h2>
        <h3>Portfolio</h3>
          <label> Full Length</label> <br> <input placeholder="full" name="full" type="file" accept="image/*"> <br><br>
          <label> Waist Up</label> <br> <input value="user.closeup" name="closeup" type="file" accept="image/*"> <br><br>
          <label> Close Up</label> <br> <input value="user.waistup" name="waistup" type="file" accept="image/*"> <br><br>
          <label> Profile</label> <br> <input value="user.profile" name="profile" type="file" accept="image/*"> <br><br><br>
    <h3>Comp Card</h3>
      <label> Cover</label> <br> <input value="user.cover" name="cover" type="file" accept="image/*"> <br><br>
      <label>Picture 1</label> <br> <input value="user.pic1" name="pic1" type="file" accept="image/*"> <br><br>
      <label>Picture 2</label> <br> <input value="user.pic2" name="pic2" type="file" accept="image/*"> <br><br>
      <label>Picture 3</label> <br> <input value="user.pic3" name="pic3" type="file" accept="image/*"> <br><br>
      <label>Picture 4</label> <br> <input value="user.pic4" name="pic4" type="file" accept="image/*"> <br><br>
    <p>
      <button type="submit">Save Edits</button>
    </p>
    </fieldset>
</form> 
            